<h2> Tickets </h2>


<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col col-xs-6">
        <!--<h3 class="panel-title">{{ 'List' | translate }}</h3>-->
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar" #txtBuscar (keyup)="0" />
        </div>
      </div>

      <div class="col col-xs-6 text-right">
        <a routerLink="add-incidencia" (click)="newTicket()" class="btn btn-primary btn-create">Crear Nuevo</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="pull-right">
      <div class="btn-group" *ngFor="let estado of oColEstados">
        <button type="button" class="btn btn-default btn-filter" (click)="filtraEstado(estado._id)" [ngStyle]="{'background':estado.color,'color':'white'}">{{estado.nombre}}</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-filter" (click)="filtraEstado(0)" data-target="all">Todos</button>
      </div>
    </div>
    <div class="table-container">
      <table class="table table-filter">
        <tbody>
          <tr *ngFor="let ticket of oColTickets | searchFilter: 'titulo,descripcion' : txtBuscar.value">
            <td>
              <div class="media" (click)="editar(ticket._id)">
                <a href="javascript:void(0)" class="pull-left" [ngSwitch]="ticket.modulo.nombre" >
                  <img *ngSwitchCase="'SIL'" src="https://icon-icons.com/icons2/539/PNG/512/lab-flask-leaf_icon-icons.com_53021.png" class="media-photo">
                  <img *ngSwitchCase="'Besafer'" src="https://lh3.ggpht.com/yfhuCC3BGYMsnjczLP9Q2tTkOstmwA0pHPONzZ9pCbsmQ7v211kHNRIw2h1NRb0wpA=w300"
                    class="media-photo">

                </a>
                <div>
                  <span class="media-meta pull-right">{{ticket.fechaSolicitud | date: 'dd/MM/yyyy'}}</span>
                  <h4 class="title">
                    {{ticket.titulo}}
                    <span class="pull-right" [ngStyle]="{'color':ticket.importancia.color}">{{ticket.importancia.nombre}}</span>
                    <span class="pull-right" [ngStyle]="{'color':ticket.estado.color}">{{ticket.estado.nombre}}</span>
                   
                  </h4>

                  <p class="summary">{{ticket.descripcion | slice:0:40 }} ...</p>
                </div>
							</div>
							<div class="btnremove pull-right">
								<a class="btn btn-danger" (click)="eliminar(ticket._id)">
									<em class="fa fa-trash"></em>
								</a>
							</div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="view-side-form">
  <router-outlet></router-outlet>
</div>
<modal #modalConfirm>
  <modal-header [show-close]="true">
      <h4 class="modal-title">Confirmación</h4>
  </modal-header>
  <modal-body>
      ¿Atención está seguro de eliminar el registro seleccionado?
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" value="Aceptar" data-dismiss="modal" (click)="okEliminar()">Aceptar</button>
  </modal-footer>
</modal>