<div class="container">
  <div class="row">
    <div class="side-form">
      <h1>{{title}}</h1>
      <div class="form-container">
        <form #formTicket="ngForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Título
                  <span class="required">*</span>
                </label>
                <input type="text" class="form-control" name="titulo" #titulo="ngModel" [(ngModel)]="oTicket.titulo" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
            <div class="form-group">
                <label for="name">Fecha</label>
                <input class="form-control" [ngModel]="oTicket.fechaSolicitud | date:'yyyy-MM-dd'" (ngModelChange)="oTicket.fechaSolicitud = $event" type="date" name="oTicket.fechaSolicitud"/> 
              </div> 
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Tipo</label>
                    <select class="form-control" name="tipo" #tipo="ngModel" [(ngModel)]="oTicket.tipo"  >
                        <option selected="selected" disabled [value]="0">[-Seleccione una opción-]</option>
                        <option *ngFor="let tipo of oColTipos" [value]="tipo._id">
                            {{tipo.tipo}}
                        </option>
                      </select>
                  </div> 
                </div> 

                         
          </div>
          <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Módulo</label>
                    <select class="form-control" name="modulo" #modulo="ngModel" [(ngModel)]="oTicket.modulo"  >
                        <option selected="selected" disabled [value]="0">[-Seleccione una opción-]</option>
                        <option *ngFor="let modulo of oColModulos" [value]="modulo._id">
                            {{modulo.nombre}}
                        </option>
                      </select>
                  </div> 
              </div>      
              <div class="col-md-3">
                  <div class="form-group">
                      <label for="name">Sede</label>
                      <select class="form-control" name="sede" #sede="ngModel" [(ngModel)]="oTicket.sede"  >
                          <option selected="selected" disabled [value]="0">[-Seleccione una opción-]</option>
                          <option *ngFor="let sede of oColSedes" [value]="sede._id">
                              {{sede.nombre}}
                          </option>
                        </select>
                    </div> 
                </div>  
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Estado</label>
                        <select class="form-control" name="estado" #estado="ngModel" [(ngModel)]="oTicket.estado"  >
                            <option selected="selected" disabled [value]="0">[-Seleccione una opción-]</option>
                            <option *ngFor="let estado of oColEstados" [value]="estado._id">
                                {{estado.nombre}}
                            </option>
                          </select>
                      </div> 
                  </div> 
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="name">Importancia</label>
                          <select class="form-control" name="importancia" #importancia="ngModel" [(ngModel)]="oTicket.importancia"  >
                              <option selected="selected" disabled [value]="0">[-Seleccione una opción-]</option>
                              <option *ngFor="let importancia of oColImportancias" [value]="importancia._id">
                                  {{importancia.nombre}}
                              </option>
                            </select>
                        </div> 
                    </div> 
          </div>
          <div class="form-group">
            <label for="name">Descipcion</label>
            <textarea type="text" name="descripcion" #descripcion="ngModel" [(ngModel)]="oTicket.descripcion" class="form-control" wrap='off'
              rows="8" cols="200"></textarea>
          </div>
 
 

 
 

          <div class="input-group">
              
            </div>

          <div class="form-group">
            <a class="btn btn-default" routerLink="/solicitudes-list">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
