<h2> GITQ </h2>
<h4>Gestión de incidencias y peticiones de servicios de ticketing de AGQ</h4>


<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
<div class="container">
	<div class="row">
    <div class="col-sm-12">Te ayuda a gestionar las incidencias que puedan acontecer en tu entorno, departamento, equipo de desarrollo, etc. de manera fácil y ágil. Características diferenciadoras: </div>

		<div class="col-sm-6">
          <div class="media">
            <a class="media-left media-middle" href="#">
              <i class="icon icon-people bg-info"></i>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Todo Centralizado</h4>
              Organiza tus incidencias y deja de vivir en el caos. Centraliza toda la información que habitualmente te llega por email, chat o incluso papel. Para que no te pierdas nada ;)
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="media">
            <a class="media-left media-middle" href="#">
              <i class="icon icon-people bg-success"></i>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Desde Cualquier Parte</h4>
              Reporta las incidencias de tu lugar de trabajo con tu dispositivo móvil (Android e iOS). Es tan sencillo como usar una aplicación de mensajería instantánea a la que estamos habituados. Puedes reportarlas incluso off-line.
            </div>
          </div>
        </div>
	</div>
	<div class="row">
		<div class="col-sm-6">
          <div class="media">
            <a class="media-left media-middle" href="#">
              <i class="icon icon-people bg-warning"></i>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Máxima adaptabilidad</h4>
              GITQ permite implantarse en cualquier empresa sea cual sea su origen y dimensión. Además puede adaptarse en sistemas propios de la empresa (ERP).
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="media">
            <a class="media-left media-middle" href="#">
              <i class="icon icon-people bg-danger"></i>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Make it simple and clean</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
        </div>
	</div>
</div>