<h2> GITQ </h2>
<h4>Gestión de incidencias y peticiones de servicios de ticketing.</h4>


<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
<div class="container">
	<div class="row">
    <div class="col-sm-12">Otra manera de gestionar las incidencias que puedan acontecer en el departamento, equipo de desarrollo, etc. de manera fácil y ágil. </div>
<!--
		<div class="col-sm-6">
          <div class="media">
            <a class="media-left media-middle" href="#">
              <i class="icon icon-people bg-info"></i>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Centralización</h4>
              Organiza las incidencias. Centraliza toda la información que habitualmente te llega por email, chat o incluso papel. Para que no te pierdas nada ;)
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="media">
            <a class="media-left media-middle" href="#">
              <i class="icon icon-people bg-success"></i>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Desde Cualquier Parte</h4>
              Reporta las incidencias de tu lugar de trabajo con tu dispositivo móvil (Android e iOS). Es tan sencillo como usar una aplicación de mensajería instantánea a la que estamos habituados. Puedes reportarlas incluso off-line.
            </div>
          </div>
        </div>
	</div>
	 
     <div class="row">
		<div class="col-sm-6">
          <div class="media">
            <a class="media-left media-middle" href="#">
              <i class="icon icon-people bg-warning"></i>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Máxima adaptabilidad</h4>
              GIT permite implantarse en cualquier departamento sea cual sea su origen y dimensión.
            </div>
          </div>
        </div>
       
        <div class="col-sm-6">
          <div class="media">
            <a class="media-left media-middle" href="#">
              <i class="icon icon-people bg-danger"></i>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Simple</h4>
              Simple, sencillo y de fácil uso.
            </div>
          </div>
        </div>
     
  </div> -->
  <div class="row">
		<div class="col-sm-12">
        <img class="img-responsive" src="assets/Matriz-Importante-Urgente.jpg">
    </div>
  </div>  

</div>